[Unit]
Description=ZFS monthly snapshot service

[Service]
ExecStart=/usr/local/sbin/zfs-auto-snapshot --prefix=zfs-auto-snap --quiet --syslog --label=monthly --keep=12 --default-exclude //
