[Unit]
Description=ZFS monthly snapshot service

[Service]
ExecStart=/usr/bin/zfs-auto-snapshot --prefix=zfs-auto-snap --quiet --syslog --label=weekly --keep=8 --default-exclude //