[Unit]
Description=ZFS hourly snapshot service

[Service]
ExecStart=/usr/local/sbin/zfs-auto-snapshot --prefix=zfs-auto-snap --quiet --syslog --label=daily --keep=31 --default-exclude //
